$black: #000000;
$darkest: #0C1821;
$dark: #1B2A41;
$top: #324A5F;
$white: #CCC9DC;

$whiteSvg: invert(99%) sepia(5%) saturate(737%) hue-rotate(171deg) brightness(118%) contrast(100%);

$panelBoxShadow: rgb(144, 144, 144) 5px 5px 5px;