/*Account Popup*/

.account-popup {
  width: 200px;
  position: absolute;
  top: 65px;
  right: 0;
  background: #324a5f;
  color: #ffffff;
  text-align: center;

  p {
    margin: 0;
    padding-top: 8px;
    font-size: 16px;
    span {
      font-style: italic;
    }
  }

  a {
    display: block;
    padding: 20px 0px;
    text-decoration: none;
    color: #ffffff;
  }
  a:hover,
  a:focus {
    background-color: #0c1821;
  }
}

// .account-popup-email {
//   font-style: italic;
// }
