/*Account Popup*/

.account-popup {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px;
  background: #324a5f;
  color: #ffffff;
  text-align: center;
}

.account-popup-signedinas {
  margin: 5px;
}

.account-popup-email {
  font-style: italic;
}

.account-popup-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.account-popup-list-item {
  padding: 20px;
}

.account-popup-list-item-link {
  color: #ffffff;
}

.account-popup-list-item-link:hover,
.account-popup-list-item-link:focus {
  color: #ccc9dc;
}
