html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.global {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #ccc9dc;
  font-family: "Inter", sans-serif;
}

main {
  // height: calc(100% - 65px);
}

#__next {
  background: blue;
  position: absolute;
  inset: 0;
}

.body_Builder {
  margin: 0;
  padding: 0;
  background: #ccc9dc;
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
}
