@use "./mixins/colorscheme.scss" as *;
.table {
  --bs-table-color: white;
  --bs-table-striped-color: white;
  --bs-table-bg: #{$dark};
  --bs-table-striped-bg: #{$top};
}

.tableButton {
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
  &:hover {
    color: darkgray;
  }
}

.dropDownBtn {
  background-color: #{$black};
  border: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 10px;
  &:focus,
  &:active {
    background-color: #{$black};
  }
  &:hover {
    background-color: #{$dark};
  }
}

.dropDownMenu {
  --bs-dropdown-divider-bg: white;
  --bs-dropdown-bg: #{$top};
  --bs-dropdown-color: white;
  --bs-dropdown-link-color: white;
  --bs-dropdown-link-hover-color: white;
  --bs-dropdown-link-hover-bg: #{$darkest};
  --bs-dropdown-link-active-bg: #{$darkest};
  --bs-dropdown-link-disabled-color: rgba($darkest, 0.5);
}
