@use "./mixins/breakpoints.scss" as *;
@use "./mixins/colorscheme.scss" as *;
.form-control,
.form-control:focus {
  background: $dark;
  color: white;
  &:focus {
    background: $darkest;
  }
}

.form-container {
  background-color: $top;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  color: $white;
}

.form-floating {
  label {
    color: white;
    &::after {
      background: none !important;
    }
  }
}

.invalid-feedback {
  font-weight: bold;
}

/*Containers*/
.registration-main {
  // margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex: 1 1 auto;
  height: calc(100vh - 65px);
  // width: 100%;
}

.registration-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  max-width: 500px;
  width: 50%;
  margin: auto;
  background: #324a5f;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  @include xsm {
    width: 80%;
  }
}

.registration-form {
  display: flex;
  // align-self: stretch;
  // margin-inline: 10%;
  flex-direction: column;
}

.registration-error-popup {
  z-index: 10000;
  margin-top: 25px;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #cc0000;
  max-width: 500px;
  position: relative;
  position: absolute;
  h1 {
    margin: 0;
    margin-bottom: 5px;
  }
  h3 {
    margin: 0;
    font-weight: normal;
  }
  .error-close {
    position: absolute;
    left: 0;
    top: 0;
  }
  .error-close:hover,
  .error-close:focus {
    filter: contrast(0);
  }
}

.name-inputs-container {
  display: flex;
  gap: 1em;
}

/*Content*/

.registration-title {
  margin: 0 0 30px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 3em;
}

.registration-form-label {
  margin-bottom: 3px;
  display: block;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-form-input {
  font-family: "Inter", sans-serif;
  padding: 7px 10px;
  margin-bottom: 20px;
  background: #1b2a41;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0px 0px 2px black;
}

.registration-account-check {
  color: #ffffff;
  a {
    margin-left: 5px;
  }
}

/*Buttons - links*/

.registration-confirm-btn {
  align-self: center;
  // margin: 10px 0 30px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #ffffff;
  background: #000000;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  border: 1px solid transparent;
  cursor: pointer;
}

.registration-confirm-btn:hover {
  border: 1px solid #ffffff;
}

.registration-link {
  color: #ffffff;
}
.registration-link:hover,
.registration-link:focus {
  color: #ccc9dc;
}

.back-arrow-button {
  position: absolute;
  color: white;
  margin: 15px;
  padding: 0;
  top: 0;
  left: 0;
}

.back-arrow:hover,
.back-arrow:focus {
  filter: contrast(0);
}

.reset-link {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
  font-weight: normal;
  font-size: 0.85rem;
  letter-spacing: 0.25px;
}

.email-sent-popup {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.45px;
  margin: 0;
}
