/*Main*/

@use "./mixins/breakpoints.scss" as *;
@use "./mixins/colorscheme.scss" as *;
.main-main {
  // padding: 10%;
  padding-inline: 10%;
  height: calc(100% - 65px);
  display: flex;
  align-items: flex-start;
  // justify-content: center;
}

.accordion {
  --bs-accordion-bg: #132634 !important;
  --bs-accordion-active-bg: #0c1821 !important;
  --bs-body-color: white !important;
  --bs-accordion-active-color: white !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
}

.accordion-button {
  font-size: 0.75em;
  font-weight: bold;
}

.list-group {
  --bs-list-group-bg: #324a5f !important;
  --bs-list-group-action-hover-bg: #1b2a41 !important;
  --bs-list-group-action-active-bg: #1b2a41 !important;
  --bs-list-group-action-hover-color: white !important;
  --bs-list-group-disabled-bg: rgba(50, 74, 95, 0.5) !important;
  --bs-list-group-disabled-color: rgba(255, 255, 255, 0.5) !important;
  font-size: 1.15em;
}

.accordion-button::after {
  filter: invert(1);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.heuristic-btn-container {
  // width: 75%;
  margin-top: 10%;
  // margin-inline: 10%;

  display: grid;
  gap: 25px;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);

  @include lg {
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    // background-color: green;
  }
  @include md {
    // background-color: yellow;
  }
  @include sm {
    grid-template: repeat(10, 1fr) / 1fr;
    // background-color: blue;
  }
  @include xsm {
    // background-color: red;
  }
}

.heuristic-btn {
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;

  background: #324a5f;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  transition: 300ms;
  .heuristic-btn-title {
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: underline;
    font-size: 28px;
  }
}

.heuristic-btn-name {
  color: rgba(255, 255, 255, 0.817);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 0;
}

.heuristic-btn:hover {
  background-color: #0c1821;
}
