@use "./mixins/breakpoints.scss" as *;

.menu-popup {
  max-height: calc(100vh - 65px);
  height: 75vh;
  display: grid;
  // grid-template: repeat(11, 1fr) / 1fr;
  // width: 200px;
  // width: 10%;
  width: 7vw;
  min-width: 150px;

  position: absolute;
  top: 65px;
  left: 0;
  background: #324a5f;
  text-align: center;
  a {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    background-color: #0c1821;
  }
}
