main {
  box-sizing: border-box;
  padding: 15px;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.quiz-container {
  display: flex;
  align-items: start;
  gap: 20px;
}

.questions,
.answers {
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
}

.questions {
  gap: 10px;
}

.answers {
  gap: 50px;
}

.question {
  color: white;
  width: 100%;
  background-color: #0c1821;
  padding: 10px;
  border-radius: 10px;
}

.answer {
  box-sizing: border-box;
  flex: 0 0 calc(50% - 5px);
  font-weight: bold;
  letter-spacing: 0.5px;
  height: 40px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  background-color: #324a5f;
  border-radius: 5px;
}

.correct {
  background-color: #8f8;
}

.incorrect {
  background-color: #f88;
}

.empty-box {
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: #0c1821;
  width: calc(100% - 10px);
  height: 50px;
  border: 2px solid white;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#score {
  text-align: center;
  display: inline-block;
  float: right;
  margin-right: 5px;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Message styling */
.message {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}
