main {
  box-sizing: border-box;
  padding: 15px;
  overflow: auto;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-stat-container {
  height: 100%;
  display: flex;
  gap: 30px;
}

.stat-buttons {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  button {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #324a5f;
    border-radius: 15px;
    padding: 50px 0;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    transition: 300ms;
  }
  button:hover {
    background-color: #0c1821;
  }
}

.stat-container {
  flex: 0 1 75%;
  background-color: #324a5f;
  border-radius: 15px;
}
