@use "./mixins/breakpoints.scss" as *;
main {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-stat-container {
  height: 100%;
  display: flex;

  gap: 30px;
  // justify-content: center;
  @include sm {
    flex-direction: column;
  }
}

.mobile-dropdown {
  font-weight: bold;
  align-self: center;
  option {
    //TODO: styles
  }
}

.stat-buttons {
  flex: 0 0 15%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  button {
    box-sizing: border-box;
    flex: 0 0 calc(100% - 5px);
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #324a5f;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    transition: 300ms;
  }
  button:hover {
    background-color: #0c1821;
  }
}

button.active {
  background-color: #0c1821;
  color: white;
}

button.disabled {
  background-color: #0c1821;
  color: white;
}

.stat-container {
  padding: 15px;
  flex: 0 0 80%;
  display: flex;
  flex-direction: row;
  background-color: #324a5f;
  border-radius: 15px;
  @include sm {
    flex-direction: column;
  }
}

.stat-graphs {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  background-color: #0c1821;
  border-radius: 15px;
  @include sm {
    width: 100%;
  }
}

.stat-graph-container {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  // border: 1px solid black;
  h3 {
    margin: 0;
    color: red;
    font-style: italic;
    font-size: 25px;
    // background-color: #0c1821;
    // border-radius: 100%;
    // padding: 100px 50px;
  }
}

.heuristic-title {
  font-size: 30px;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  flex-wrap: wrap;
  width: 33%;
  height: 80%;
  // padding: 40px;
  margin: auto;
  //overflow-y: auto;
  color: #ffffff;
  background-color: #0c1821;
  border-radius: 15px;
}

.wrong-questions-container {
  width: 50%;
  height: 75%;
  padding: 50px;
  margin: auto;
  overflow-y: auto;
  color: #ffffff;
  background-color: #0c1821;
  border-radius: 15px;
  h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
  }
  ul {
    padding: 0;
  }
  li {
    line-height: 35px;
    font-size: 25px;
    margin: 25px;
  }
}
