@use "./mixins/colorscheme.scss" as *;
/* CONTAINER */
.mainContainer {
  // height: calc(100vh - 65px);
  // height: auto;
  height: 200%;
  @media (max-width: 992px) {
    // background-color: red;
    height: 200%;
  }
}

.graphContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.statsContainer {
  background-color: $top;
  max-width: 2500px;
}

.graphTitle {
  color: white;
  text-align: center;
  // font-size: 1.75rem;
}

/*BOOTSTRAP*/

.table {
  --bs-table-color: white;
  --bs-table-striped-color: white;
  --bs-table-bg: rgba(50, 74, 95, 0.576);
  --bs-table-striped-bg: #{$top};
}

.listGroupItem {
  //align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.listGroup {
  padding: 15px;
  height: 100%;
  --bs-list-group-bg: #{$darkest} !important ;
  @media (max-width: 992px) {
    // background-color: red;
    height: 50%;
  }
}

.heuristicBtnGroup {
  padding-left: 0;
}

.heuristicBtn {
  --bs-btn-bg: #{$top};
  --bs-btn-color: white;
  --bs-btn-hover-bg: #{$darkest};
  --bs-btn-hover-color: white;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #{$darkest};
  &:disabled {
    background-color: $top;
    color: white;
    border-color: $dark;
  }
}

.information {
  color: white;
  align-items: center;
}

.dropDownBtn {
  background-color: #{$black};
  border: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 10px;
  &:focus,
  &:active {
    background-color: #{$black};
  }
  &:hover {
    background-color: #{$dark};
  }
}

.dropDownMenu {
  --bs-dropdown-divider-bg: white;
  --bs-dropdown-bg: #{$top};
  --bs-dropdown-color: white;
  --bs-dropdown-link-color: white;
  --bs-dropdown-link-hover-color: white;
  --bs-dropdown-link-hover-bg: #{$darkest};
  --bs-dropdown-link-active-bg: #{$darkest};
  --bs-dropdown-link-disabled-color: rgba($darkest, 0.5);
}
