@use "./mixins/colorscheme.scss" as *;
@use "./mixins/breakpoints.scss" as *;

.textbookContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-inline: 5vw;
}

.markdownBody {
  width: 50%;
  background-color: $top;

  box-shadow: $panelBoxShadow;

  color: white;

  padding: 3em;
  padding-top: 3em;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 0;

  align-items: center;
  @include xsm {
    padding: 2em;
  }
  @include sm {
    width: 100%;
  }
}

.markdownBody p {
  font-size: 1.2em;
  margin-top: 0.3em;
}

.markdownBody img {
  width: 100%;
}

.markdownBody h1 {
  text-align: center;
  margin: 0;
  align-self: left !important;
  justify-self: left !important;
}
