@use "./mixins/colorscheme.scss" as *;
@use "./mixins/breakpoints.scss" as *;

.textbookContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-inline: 5vw;
}

.markdownBody {
  width: 50%;
  background-color: $top;

  box-shadow: $panelBoxShadow;

  color: white;

  padding: 3em;
  padding-top: 3em;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 0;

  align-items: center;
  @include xsm {
    padding: 2em;
  }
  @include sm {
    width: 100%;
  }
}

.markdownBody p {
  font-size: 1.2em;
  margin-top: 0.3em;
}

.markdownBody img {
  width: 100%;
}

.markdownBody h1 {
  text-align: center;
  margin: 0;
  align-self: left !important;
  justify-self: left !important;
}

.headerContainer {
  background-color: $dark;
  height: 45vh;
  align-items: center;
  display: flex;
  gap: 10em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.headerImage {
  width: 45%;
  height: 45vh;
  box-shadow: inset -100px 0px 20px 0px rgba(27, 42, 65, 1);
  background-color: $dark;
  background-attachment: fixed;
  position: relative;
}

.headerImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 10px solid $dark; /* Change the color and size as needed */
  box-sizing: border-box;
  pointer-events: none; /* This ensures that the border doesn't interfere with mouse events */
}

.headerTitleBox {
  color: white;
  font-size: 64px;
  width: 10em;
}

.textbookBodyContainer {
  width: 100%;
  margin-top: 2em;

  display: flex;
  justify-content: center;

}

.textbookBody {
  width: 40%;
  background-color: $top;
  padding: 3em;
  margin-bottom: 2em;
  border-radius: 5px;
}

.textbookBody p {
  font-size: 21px;
  color: white;
  margin-bottom: 1.5em;
}

.sideBySide {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1em
}

.centerImage {
  display: flex;
  justify-content: center;
}

.embedContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (h/w * 100) */
}

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
