// ================================== heuristic 1 ==================================

$playbackTopBarBG: #3c3c3c;

.playbackControls {
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: $playbackTopBarBG;
  border: 2px solid $playbackTopBarBG;
  width: 150px; height: 55px;
}

.playbackControls img, .volumeControls img {
  height: 45px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(242deg) brightness(103%) contrast(101%);
}

.playbackBump {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  display: flex;
  padding: 5px;
  border-radius: 500px;
  border: black 2px solid;
}

.playbackBump img {
  height: 35px;
  //margin-right: 10px;
  position: relative;
  left: 3px;
  filter: invert(62%) sepia(63%) saturate(4995%) hue-rotate(191deg) brightness(102%) contrast(100%);
}

.volumeControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background-color: $playbackTopBarBG;
  border: 2px solid $playbackTopBarBG;
  width: 200px; height: 55px;
  padding-right: 3px;
}

.fullvolumebar {
  display: flex;
  flex-direction: row;
}

.volumeSlider1 {
  height: 5px;
  width: 73px;
  background-color: rgb(213, 213, 213);
}

.volumeSlider {
  height: 5px;
  width: 59px;
  margin-right: 0;
  background-color: rgb(83, 83, 83);
}

.nowPlaying {
  width: 400px;
  background-color: rgb(181, 253, 198);
  //margin: 0;
  //padding: 0;
  //height: 75px;

  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.songTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.songInfo {
  //height: 75px;
}

.nowPlaying img {
  margin: 0;
  padding: 0;
}

.nowPlaying img {
  height: 75px;
}

.playbackSlider {
  width: 400px;
  height: 10px;

  display: flex;
  align-items: center;
  justify-content: left;

  background-color: green;
}

.playbackSlider1 {
  height: 10px;

  background-color: rgb(72, 138, 91);
  width: 25%;
}

.playbackSlider2 {
  height: 10px;

  background-color: rgb(30, 69, 29);
  width: 75%;
}

.topBar {
  width: 900px;
  height: 90px;

  background-color: $playbackTopBarBG;
}

.albumBox {
  width: 900px;
  background-color: #212121;
  box-sizing: border-box;
  padding: 12px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;

  color: white;
}

.albumContainerInfo {
  text-align: center;
  font-size: 16px;
}

.albumContainerInfoTitle {
  font-size: 20px;
  font-weight: bold;
}

.albumContainer img {
  border: 2px rgb(255, 255, 255) solid;
}

.playbackBump {

}

// ============================== example bones ====================================

// Search bar
.searchBarContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  
  width: 350px;
  height: 47px;
  background-color: white;

  gap: 10px;

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;


  touch-action: none;
}

.searchBarContainer img {
  height: 2.5em;
  user-select: none;
}

.searchBarText {
  align-items: center;
  font-size: 1.8em;
  color: #969696;
  user-select: none;
}

// Navbar
.navBarContainer {
  background-color: white;

  width: 350px;
  height: 375px;

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;

  //justify-content: center;
}

.navBarButtonsContainer {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  gap: 1em;

  //justify-self: center;
  padding: 1.8em;
}

.navBarButton {
  display: flex;
  align-items: center;

  gap: 1em;

  font-size: 1.8em;
}

.navBarButton img {
  height: 1.8em;
  width: auto;
}

// logo box
.logoBox img {
  width: 100px;
  height: 100px;
}

// post
.postBody {
  width: 500px;
  height: 775px;

  display: flex;
  flex-direction: column;

  gap: 0.5em;

  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;

}

.postBody img {
  width: 500px;
  height: auto;
}

.postUser {
  display: flex;
  font-size: 1.6em;
  align-items: center;
  gap: 0.6em;
}

.postUser img {
  height: 50px;
  width: auto;
}

.postDescription {
  font-size: 1.6em;
  padding-left: 0.6em;
}