@use './mixins/colorscheme.scss' as *;

$gridSize: 15px;
$gridColor: #888888;
$highestZ: 10000;

// menu bar stylings
.menuBarContainer {
  background-color: $darkest;

  width: 100vw;
  height: 65px;

  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  padding-left: 1em;   padding-right: 1em;

  z-index: $highestZ;
}

.menuBarTitle {
  font-size: 30px;
  margin-right: 8em;
  user-select: none;
  font-weight: bold;
}

.menuBarButton {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.3em;
  margin: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.gradingPanelHeader {
  margin-top: 0;
}

.menuBarButton:hover {
  background-color: $darkestHover;
}



.menuBarButton img {
  justify-content: center;
  height: 4vh;
  width: auto;
  filter: $whiteSvg;
}

.menuBarGroup {
  display: flex;
  gap: 2em;
}

.builderBody {
  display: flex;
  flex-direction: row;
}

// grid
.gridBody {
  height: calc(100vh - 65px);
  width: 75vw;

  display: flex;
  overflow: auto;

  background-image: repeating-linear-gradient(
    0deg,
    transparent,
    transparent calc($gridSize - 1px),
    $gridColor calc($gridSize - 1px),
    $gridColor $gridSize
  ),
  repeating-linear-gradient(
    -90deg,
    transparent,
    transparent calc($gridSize - 1px),
    $gridColor calc($gridSize - 1px),
    $gridColor $gridSize
  );

  background-size: $gridSize $gridSize;
}

// component drawer stuff
.componentDrawer {
  height: calc(100vh - 65px);
  width: 25vw;

  background-color: $dark;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.componentDrawerHeader {
  height: 5vh;
  background-color: $black;
  color: white;

  font-size: 3vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;

  user-select: none;
  z-index: $highestZ;
}

// ================================ grading panel ======================================

.gradingPanelProgressBarContainer {
  position: relative; /* Set the container to a relative position */

  width: 100%; /* Set the width of the progress bar */
  height: 4vh; /* Set the height of the progress bar */
  border: 1px solid #ffffff; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Add rounded corners */
}

.gradingPanelProgressBar {
  height: 100%;
  background-color: #699367; /* Set the color of the progress bar */
  border-radius: 5px; /* Optional: Add rounded corners */
}

.gradingPanelScoreDisplay {
  position: relative;
  top: -2.70em;
  left: 45%;
  color: #fff; /* Set the color of the score */
  font-weight: bold; /* Optional: Adjust the font weight */
}

.gradingPanelScoreBreakdown {
  font-size: 18px;
  margin-top: 1em;
}

.gradingPanelScoreBreakdownHighlight {
  font-weight: bold;
}

// info panel
.infoPanelContainer p {
  white-space: pre-wrap;
}

// bone discarder
.boneDiscarder {
  width: 100%;
  background-color: red;
  height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;

  resize: both;
}

.boneTooltipWindow {
  background-color: $darkest;
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1em;
  position: fixed;
  z-index: 999;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}