@use './mixins/colorscheme.scss' as *;

$gridSize: 15px;
$gridColor: #888888;

.menuBar {
  background-color: $darkest;

  width: 100vw;
  height: 5vh;
}

.builderBody {
  display: flex;
  flex-direction: row;
}

.gridBody {
  height: 95vh;
  width: 75vw;

  display: flex;
  overflow: auto;

  background-image: repeating-linear-gradient(
    0deg,
    transparent,
    transparent calc($gridSize - 1px),
    $gridColor calc($gridSize - 1px),
    $gridColor $gridSize
  ),
  repeating-linear-gradient(
    -90deg,
    transparent,
    transparent calc($gridSize - 1px),
    $gridColor calc($gridSize - 1px),
    $gridColor $gridSize
  );

  background-size: $gridSize $gridSize;
}

.componentDrawer {
  height: 95vh;
  width: 25vw;

  background-color: $dark;
  overflow-y: auto;
}